.custom-loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.custom-item-title {
    color: #5F8B3F;
}

.custom-item-text {
    cursor: pointer;
}

.page-navigation {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1;
    cursor: pointer;
}

.page-navigation:hover {
    color: #5F8B3F;
}