html, body {
    background-color: #F9F8EE;
    overflow: hidden;
}

.custom-loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.custom-form-search {
    height: 50px;
    border-radius: 100px !important;
    font-family: 'Roboto';
    font-style: italic;
    font-size: 18px;
    color: #999999;
}

.custom-input-group-text {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    border: transparent;
}

.custom-message {
    font-family: 'Roboto';
    font-style: 15px;
    color: #444444;
}

.custom-action-title {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 15px;
    color: #444444;
}

.custom-list-group {
    height: calc(100vh - 200px);
    overflow-y: auto;
}

.custom-list-group-item {
    background: transparent;
}

.custom-item-title {
    font-family: 'Roboto';
    font-size: 16px;
    color: #5F8B3F;
}

.custom-item-text {
    font-size: 14px;
    color: #333333;
    cursor: pointer;
}

.custom-download-btn {
    border-radius: 100px;
    font-family: 'Roboto';
    font-size: 18px;
    color: #FFFFFF;
}

.page-navigation {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1;
    cursor: pointer;
}

.page-navigation:hover {
    color: #5F8B3F;
}

/* Media queries */
/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .custom-list-group {
        height: calc(100vh - 300px);
    }
}